.forecast-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.forecast-list_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 10px 20px;
}

.forecast-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 30px 10px 30px;
}

.forecast-head {
  margin: 0;
}

.select-time {
  text-align: center;
  width: 70px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 5px;
  cursor: pointer;
}

.select-time:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.select-container {
  position: relative;
}

.option-style {
  font-weight: bold;
  background-color: transparent;
  color: black;
}

.forecast-card {
  height: 70px;
  width: 100%;
  border-radius: 20px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.forecast-data_img {
  width: 35px;
  height: 35px;
  margin-left: 50px;
  margin-right: 10px;
}

.front {
  position: absolute;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.5s ease;
}

.back {
  position: absolute;
  z-index: 150000;
  top: 0%;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 15px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  /* -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1); */
  /* pointer-events: none; */
  transition: transform 0.5s ease;
}

.flipped {
  transform: rotateX(180deg);
}

.back-time_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.366);
}

.back-time {
  margin: 0;
  padding: 10px;
}

.back-img {
  width: 40px;
  height: 40px;
}

.back-weather_info {
  width: 100%;
  display: flex;
  padding: 5px 15px 10px 15px;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.back-temp {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  text-align: center;
}

.back-info {
  width: 65%;
  display: flex;
  align-items: flex-end;
  flex-flow: column wrap;
  text-align: center;
}

.back-temp_min {
  margin-bottom: 10px;
}

.back-clouds {
  margin-bottom: 10px;
}

.forecast-data {
  margin: 0;
  padding: 0;
  width: 20px;
}

.forecast-temp {
  margin: 0;
  padding: 0;
  width: 20px;
  margin-left: 10px;
}

.progress {
  width: 100%;
  height: 7px;
}
