.weather-image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.image-size {
  width: 200px;
  height: 200px;
}

.choose_city {
  margin: 0;
  margin-top: 10px;
  font-size: 52px;
  text-align: center;
}

.temperature {
  font-size: 52px;
  font-weight: bold;
  margin: 5px 0 5px 10px;
  text-align: center;
}

.description {
  margin: 0;
}

.min-max_temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
}

.max-temp {
  margin: 5px 0;
  margin-right: 10px;
}

.min-temp {
  margin: 5px 0;
}

.feels-like {
  font-size: 18px;
  margin: 0;
}

.curr-time_container {
  margin-top: 30px;
}
