@font-face {
  font-family: "Roboto-light";
  src: url("/src/styles/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

body {
  margin: auto;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 430px;
  height: 100vh;
  font-family: "Roboto-light";
  background: #212125;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 430px;
  height: 860px;
  padding: 40px;
  /* background: linear-gradient(140deg, #47bbe1 0%, #33aadd 50%, #2dc8ea 100%); */
  -webkit-box-shadow: 7px 14px 17px 5px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 7px 14px 17px 5px rgba(34, 60, 80, 0.1);
  box-shadow: 7px 14px 17px 5px rgba(34, 60, 80, 0.1);
  z-index: 0;
  position: relative;
  color: white;
  animation: gradient 10s ease infinite;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container-overflow {
  overflow-y: scroll;
}

.container-overflow_hidden {
  overflow: hidden;
}

.container::-webkit-scrollbar {
  width: 0px;
}

.container::-webkit-scrollbar-track {
  background: transparent;
}

.container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);

  border: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.geo-container {
  display: flex;
  align-items: center;
}

.geoInfo {
  color: white;
  font-size: 16px;
  padding: 0;
  margin: 0;
  margin-left: 5px;
}

.geoTime {
  font-size: 14px;
  margin: 0;
}

::-webkit-input-placeholder {
  color: black;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.geolocation {
  width: 35px;
  height: 35px;
  padding: 0;
  text-align: center;
  background-image: url("/src/styles/geo.png");
  background-size: 35px;
  background-repeat: no-repeat;
  background-color: transparent;
  /* background-position-x: 50%;
  background-position-y: 0%; */
  border: none;
  cursor: pointer;
  transition: 1s;
  border-radius: 50%;
}

.geolocation:hover {
  transform: scale(1.05);
  background-color: green;
}

.search-container {
  display: flex;
  align-items: center;
}

.click-field {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  background-image: url('./search.png');
  background-color: transparent;
  background-size: 30px;
  background-repeat: no-repeat;
  border: none;
  transition: .5s all;

}

.click-settings {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  background-image: url('./settings.png');
  background-color: transparent;
  background-size: 30px;
  border: none;
  transition: 1.5s all;
  border-radius: 50%;
  
}

.click-field:hover {
  transform: rotate(25deg) scale(1.2);
}

.click-settings:hover {
  transform: rotate(180deg) scale(1.2);
}

.burger-line {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  background-color: white;
  transition: 1s ease;
}

.click-field:hover > .burger-first_line {
  transform: translateX(2px);
}

.click-field:hover > .burger-second_line {
  transform: translateX(5px);
}

.click-field:focus > .burger-line {
  background-color: blueviolet;
  transform: scale(0.5);
}

.weather-image_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.image-size {
  width: 200px;
  height: 200px;
}

.choose_city {
  margin: 0;
  margin-top: 10px;
  font-size: 52px;
  text-align: center;
}

.temperature {
  font-size: 52px;
  font-weight: bold;
  margin: 5px 0 5px 10px;
  text-align: center;
}

.description {
  margin: 0;
}

.min-max_temperature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 20px;
}

.max-temp {
  margin: 5px 0;
  margin-right: 10px;
}

.min-temp {
  margin: 5px 0;
}

.feels-like {
  font-size: 18px;
  margin: 0;
}

.weather-main_data,
.curr-time_container {
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.curr-time_container {
  margin-top: 30px;
}

.main-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50px;
}

.data-image {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.cloudicon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.humidity-img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.sunrise-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  font-size: 18px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.sunrise-text {
  margin: 0;
}

.sunrise,
.sunset {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transition: .5s all;
  /* border: 1px solid black; */
  border-radius: 16px;
}

.sunrise:hover,
.sunset:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.sunrise {
  margin-right: 10px;
}

.sunrise-img {
  width: 64px;
  height: 64px;
}

.sunrise-time {
  margin: 0;
}

.data-container {
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: .3s all;
}

.data-container:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.main-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.today-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid black;
}

.today-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 30px 10px 30px;
  /* margin-bottom: 10px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.23); */
}

.today-weather_head {
  margin: 0;
}

.card-image {
  width: 60px;
  height: 60px;
}

.today-weather_date {
  margin: 0;
  font-size: 18px;
}

.time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
  width: 100px;
  background-color: transparent;
  color: white;
  position: relative;
  z-index: 0;
  transition: .3s all;
}

.time-container:hover {
  /* background-color: #16d7ff; */
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.infoCards {
  border: 1px solid black;
  width: 100%;
  height: 100px;
  display: none;
  position: absolute;
  z-index: 10;
}

.hour-temp_block {
  height: 40px;
}

.card-image_block {
  height: 60px;
}

.hours-time_block {
  height: 40px;
}

.hours-temp {
  margin: 0;
}

.hours-time {
  margin: 10px 0;
}

.today-weather {
  display: flex;
  flex-direction: row;
}

.hours-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  padding: 10px 20px 5px 20px;
  box-sizing: border-box;
  overflow-x: scroll;
}

.hours-container::-webkit-scrollbar {
  width: 20px;
  z-index: 10;
  /* ширина всей полосы прокрутки */
}

.decription-container {
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
}

.desc-card {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  transition: .3s all;
}

.desc-card:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.card-head {
  margin: 0;
  font-size: 18px;
}

.cards-image {
  width: 70px;
  height: 70px;
  margin: 10px 0;
}

.card-text {
  font-size: 18px;
}

.forecast-container {
  width: 100%;
  background: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  margin-top: 20px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.forecast-list_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 10px 20px;
}

.forecast-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 20px 30px 10px 30px;
  /* margin-bottom: 10px; */
}

.forecast-head {
  margin: 0;
}

.select-time {
  text-align: center;
  width: 70px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 5px;
  cursor: pointer;
}

.select-time:hover {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.1);
}

.select-container {
  position: relative;
}

.option-style {
  font-weight: bold;
  background-color: transparent;
  color: black;
}

.forecast-card {
  border-radius: 20px;
  position: relative;
  height: 70px;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  z-index: 20;
}

.forecast-data_img {
  width: 35px;
  height: 35px;
  margin-left: 50px;
  margin-right: 10px;
}

.label-card {
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  position: relative;
  z-index: 10000;
}

.check_card {
  display: none;
}

.front {
  position: absolute;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  border-radius: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  width: 100%;
  height: 120px;
  top: -30%;
  bottom: 0;
  margin-bottom: 0px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 15px;
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-weight: bold;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -webkit-box-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  z-index: 10000;
}

.back-time_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(225, 225, 225, 0.366);
}

.back-time {
  margin: 0;
  padding: 10px;
}

.back-img {
  width: 40px;
  height: 40px;
}

.back-weather_info {
  width: 100%;
  display: flex;
  padding: 5px 15px 10px 15px;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: space-around;
}

.back-temp {
  width: 45%;
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
  text-align: center;
}

.back-info {
  width: 65%;
  display: flex;
  align-items: flex-end;
  flex-flow: column wrap;
  text-align: center;
}

.back-temp_min {
  margin-bottom: 10px;
}

.back-clouds {
  margin-bottom: 10px;
}

.label-card:hover .forecast-card {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  box-shadow: 0px 0px 2px 1px rgba(53, 167, 255, 1);
  background: rgba(0, 0, 0, 0.23);
}

:checked + .forecast-card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
}

.label-card:hover :checked + .forecast-card {
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  box-shadow: 0 20px 20px rgba(255, 255, 255, 0.2);
}

.forecast-data {
  margin: 0;
  padding: 0;
  width: 20px;
}

.forecast-temp {
  margin: 0;
  padding: 0;
  width: 20px;
  margin-left: 10px;
}

.progress {
  width: 100%;
  height: 7px;
}

.search-field {
  position: absolute;
  right: 130%;
  top: 0;
  display: block;
  width: 100%;
  height: 100vh;
  opacity: 0.99;
  border-radius: inherit;
  box-shadow: inherit;
  background: inherit;
  padding: 40px 30px;
  box-sizing: border-box;
  z-index: 9990;
  transition: all 0.5s ease;
}

.show {
  top: 0;
  right: 0;
}

.search-field::-webkit-scrollbar {
  width: 0;
}

.click-exit {
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.exit-line {
  display: block;
  width: 30px;
  height: 2px;
  margin-bottom: 5px;
  background-color: white;
  transition: 0.1s ease;
}

.exit-first_line {
  position: absolute;
  transform: rotate(45deg);
}

.exit-second_line {
  position: absolute;
  transform: rotate(-45deg);
}

.click-exit:focus > .exit-first_line {
  transform: rotate(0);
}

.click-exit:focus > .exit-second_line {
  transform: rotate(0);
}

.click-exit:hover * {
  background-color: lightgreen;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: transparent;
}

input:focus + .slider {
  box-shadow: 0 0 1px transparent;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.panel-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.celsium {
  position: absolute;
  top: 6px;
  left: 35px;
  font-weight: bold;
}

.farenheit {
  position: absolute;
  top: 6px;
  left: 10px;
  font-weight: bold;
}

.form-container {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-search {
  width: 100%;
}

.search-input {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 9px 10px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 9px 10px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 9px 10px 8px 0px rgba(34, 60, 80, 0.2);
  overflow: hidden;
  transition: 0.5s all;
}

.search-input::placeholder {
  color: white;
  font-size: 18px;
  opacity: 0.4;
}

.search-input:focus,
.search-input:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.4);
  outline: 0;
}

.search-result_container {
  margin-top: 20px;
  border-radius: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.4);
}

.listSearch {
  /* width: 100%; */
  margin: 0;
  padding: 0;
  text-align: left;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchedItem {
  text-align: left;
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  padding: 14px;
  font-size: 20px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s all;
}

.searchedItem:hover {
  color: aqua;
}

.p-10 {
  padding: 10px;
}

.region-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.23);
  padding: 20px 10px;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.footer-info a {
  color: wheat;
  font-weight: bold;
  margin: 0;
}

.err-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 40px;
}

.err-head {
  margin: 20px;
}

ymaps {
  border-radius: 15px;
}

.settings-container {
  position: absolute;
  right: 130%;
  top: 0;
  display: block;
  width: 100%;
  height: 100vh;
  opacity: 0.99;
  border-radius: inherit;
  box-shadow: inherit;
  background: inherit;
  padding: 40px 30px;
  box-sizing: border-box;
  z-index: 9990;
  transition: all 0.5s ease;
}

.settings-show {
  top: 0;
  right: 0;
}

.set-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.clear-cache {
  background-color: rgba(0, 0, 0, 0.23);
  padding: 10px;
  border-radius: 55px;
  color: white;
  border: none;
  transition: .5s all;
}

.clear-cache:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: red;
}

.set-text {
  font-size: 16px;
  margin: 0;
  padding: 10px;
}

.searched-container {
  position: relative;
  height: auto;
}

.searched-container > div {
  transition: 1s all;
  position: absolute;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.73);
  border-radius: 20px;
  top: 40px;
  right: -5px;
}

.settings-search {
  border: none;
  border-radius: 55px;
  padding: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.23);
  transition: 0.5s all;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.settings-search:hover,
.settings-search:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.4);
  outline: 0;
}

.settings-search::placeholder {
  color: wheat;
  opacity: 0.5;
}

.select-theme {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.23);
  border-radius: 55px;
  padding: 5px 15px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.slider-themes {
  transition: 0.3s all;
  width: 45px;
  height: 45px;
  left: 132px;
  border-radius: 50%;
  position: absolute;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  background: linear-gradient(140deg, #47bbe1 0%, #023553 50%, #0b42ab 100%);
  opacity: 0.8;
  z-index: 10000;
}

.day {
  left: 12px;
  background: linear-gradient(140deg, #47bbe1 0%, #33aadd 50%, #2dc8ea 100%);
  opacity: 0.8;
}

.evening {
  left: 52px;
  background: linear-gradient(140deg, #08244f 0%, #134cb5 50%, #0b42ab 100%);
  opacity: 0.8;
}

.night {
  left: 92px;
  background: linear-gradient(140deg, #254659 0%, #023553 50%, #254659 100%);
  opacity: 0.8;
}

.default {
  left: 132px;
  background: linear-gradient(140deg, #47bbe1 0%, #023553 50%, #0b42ab 100%);
  opacity: 0.8;
}

.select-theme_item {
  cursor: pointer;
}

.settings-img {
  width: 40px;
  height: 40px;
  transition: .5s all;
}

.settings-img:hover {
  transform: scale(1.05);
}

.select-animated_container {
  width: 40px;
  height: 40px;
  position: relative;
  transition: .5s all;
}

.select-animated_container:hover {
  transform: scale(1.05);
}

.settings-animated_img_f, .settings-animated_img_s, .settings-animated_img_t  {
  width: 19px;
  height: 19px;
  position: absolute;
}

.settings-animated_img_f {
  top: 3px;
  left: 1px;
}

.settings-animated_img_s {
  left: 10px;
  top: 22px;
}

.settings-animated_img_t {
  top: 3px;
  right: 3px;
}

@media (max-height: 860px) {
  .container {
    height: 100vh;
  }

  .search-field {
    width: 100%;
    height: inherit;
  }
}

@media (max-width: 430px) {
  .container {
    padding: 15px;
  }
  .settings-container {
    padding: 15px;
  }
  .search-field {
    padding: 15px;
  }
}
