.footer-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.23);
  padding: 20px 10px;
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.9;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 1);
}

.footer-info a {
  color: wheat;
  font-weight: bold;
  margin: 0;
}

ymaps {
  border-radius: 15px;
}
